{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Auctions</h1>
                <div>
                    {% if user.is_authenticated %}
                        Signed in as <strong>{{ user.username }}</strong>.
                    {% else %}
                        Not signed in.
                    {% endif %}
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item{% if request.resolver_match.url_name == 'index' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>
                <li class="nav-item{% if request.resolver_match.url_name == 'create' %} active{% endif %}">
                    <a class="nav-link" href="{% url 'create' %}">Create a Listing</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item{% if request.resolver_match.url_name == 'watchlist' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'watchlist' %}" >Watchlist</a>
                    </li>
                    <li class="nav-item{% if request.resolver_match.url_name == 'logout' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item{% if request.resolver_match.url_name == 'login' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item{% if request.resolver_match.url_name == 'register' %} active{% endif %}">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            <hr>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>

